body {
    padding-top: 0;
    font-family: Myriad;
    background-image: url(../assets/img/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

@font-face{
    font-family: Myriad;
    src: url(MyriadPro-Regular.otf);
}

label{
    font-family: Myriad;
}

/* Bordered form */

form {
    background-color: #575757;
    display: inline-block;
    border: 3px  #f1f1f1;
    height: 50%;
    width: 35%;
    padding: 4%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#error{
    color: white;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    height: auto;
    width: 7%;
    padding: 1%;
    background-color: red;
    color: white;
    
}
.submitbtn {
    width: 100%;
    padding: 5%;
    background-color: dodgerblue;
    letter-spacing: 1px;
    color: whitesmoke;
    
}

.loginForm{
    position: absolute;
    margin-top: 8%;
    margin-left: 35%;
    width: 60%;
    
}
.btn{
    padding-top: 0;
    padding: 3%;
    width: 100%;
    margin-bottom: 0;
    background-color: darkred;
    color: white;
    letter-spacing: 1px;
}